<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>About Us</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <script src="static/js/scripts.js"></script>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="brand-logo" href="/"><img src='static/assets//images/Untitled-1.png'></img></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-5">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/shop">Shop</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/categories">Categories</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/orders">Orders</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/about">About Us</a></li>
                </ul>
                <ul>
                 {{ current_user_email }}
                </ul>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark" href="basket">
                                    <i class="bi-cart-fill me-1"></i>
                                    Basket
                                    <span class="badge bg-dark text-white ms-1 rounded-pill"> {%if basket_total_quantity == None %} 0 {%else%} {{ basket_total_quantity }} {%endif%} </span>
                                </a>
                            </div>
                    </div>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-success py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Welcome to Nature's Harvest Organics!</h1>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="bg-success py-1">
            <div class="row gx-2 gx-lg-2 row-cols-2 row-cols-md-2 row-cols-xl-2 justify-content-center">
                <div class="m-0 text-center text-white">
                    <p>At Nature's Harvest Organics, we are passionate about bringing you the freshest and most delicious organic produce available. Our journey began with a simple belief that nature provides the best when it comes to nourishment. Guided by this belief, we have curated a wide selection of organic vegetables, fruits, and dairy products that are not only good for you but also good for the planet.</p>
                    <p>Our Commitment:</p>
                    <p>At the heart of our mission is a commitment to promoting sustainable and environmentally-friendly farming practices. We work closely with local farmers who share our dedication to organic agriculture. This ensures that every item you find on our website is grown without the use of synthetic pesticides, herbicides, or GMOs. We believe that the natural way of farming results in better taste, more vibrant colors, and higher nutritional value.
                    </p><p>Our Products:</p>
                    <p>Explore our bountiful array of farm-fresh vegetables and fruits, each handpicked at the peak of ripeness to guarantee the best flavor and quality. From crisp, leafy greens to succulent, tree-ripened fruits, our selection celebrates the beauty of nature's bounty. We also offer a delightful range of organic dairy products sourced from local, ethically raised animals – from creamy yogurts to artisanal cheeses.
                    </p><p>Why Choose Nature's Harvest Organics?<p>
                    <p>Quality Assurance: We take pride in delivering only the finest organic products to your doorstep. Each item undergoes rigorous quality checks to ensure you receive the best.
                    </p><p>Supporting Local Farmers: By choosing our products, you're supporting local farmers and contributing to sustainable agricultural practices that protect our environment for future generations.
                    </p><p>Health and Wellness: Our organic produce is bursting with nutrients, vitamins, and minerals, promoting your overall health and well-being.
                    </p><p>Flavorful Experience: Taste the difference of true freshness. Our produce is not only healthier but also more flavorful, allowing you to savor each bite.
                    </p><p>Convenience: With our user-friendly online platform, you can easily browse, select, and order your favorite organic products from the comfort of your home.               
                    </p><p>Join Us in Nurturing Nature:
                    </p><p>Nature's Harvest Organics is more than just a marketplace – it's a community of like-minded individuals who believe in the power of natural goodness. Join us on this journey of embracing sustainable living while relishing the unparalleled taste of organic produce.                    
                    </p><p>Thank you for choosing Nature's Harvest Organics. Your health, our planet, and great taste – all in one basket.
            </div>
            </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-success">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Wojciech Przybylski 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
