{% extends 'base.html' %}

{% block content %}
<title>Contact Us</title>
    <!-- Header-->
    <header class="bg-success py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Come and say hello!</h1>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="bg-success py-1">
            <div class="row gx-2 gx-lg-2 row-cols-2 row-cols-md-2 row-cols-xl-2 justify-content-center">
                <div class="m-0 text-center text-white">


                <p>Thank you for your interest in Nature's Harvest Organics, your one-stop destination for the freshest and finest organic foods. We're dedicated to providing you with the highest quality organic products to nourish your body and promote a healthier lifestyle.</p>
                <br>Address:<br>
                <br>Nature's Harvest Organics<br>
                123 Greenway Avenue<br>
                Cityville, ST 12345<br>
                United States<br>
                    
                <br>Store Hours:<br>
                    Monday - Saturday: 9:00 AM - 7:00 PM<br>
                    Sunday: 10:00 AM - 6:00 PM<br>
                    
                    <br>Customer Support:<br>
                    For any inquiries, assistance, or feedback, our customer support team is ready to assist you.<br>
                    
                    <br>Phone: (555) 123-4567<br>
                    Email: info@naturesharvestorganics.com<br>
                    
                    <br>Follow Us:<br>
                    Stay updated with the latest news, promotions, and tips on healthy living by following us on social media.<br>
                    
                    <br>Facebook: @NaturesHarvestOrganics<br>
                    Instagram: @NaturesHarvestOrganics<br>
                    Twitter: @NaturesHarvestOrg<br>
            </div>
            </div>
    </section>
    <!-- Footer-->
{% endblock %}