{% extends 'base.html' %}

{% block content %}
<title>Vegetables</title>
    <!-- Header-->
    <header class="bg-success py-2">
        <div class="container px-4 px-lg-5 my-3">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Vegetables</h1>
                <p class="lead fw-normal text-white-50 mb-0">Select your products</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for item in items %}
                <div class="col mb-5">
                        <div class="card h-100">
                            <!-- item image-->
                            <a class="pic" href="{{item.name}}"><img src="{{ baseUrl }}assets/images/{{item.id}}.jpg"></img></a>
                            <!-- item details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- item name-->
                                    <h5 class="fw-bolder">{{item.name}}</h5>
                                    <!-- item price-->
                                        <p class="">£{{ "%.2f" | format(item.price) }}</p>
                                    <!-- item Stock-->
                                    <div>
                                        <b class="fw-bolder">Available items</b>
                                        <p class="">{{item.stock}}</p>
                                    </div>
                                    <div>
                                        <p>Quantity</p>
                                        <form action="{{ url_for('add_to_cart') }}" method="POST">
                                            <input type="hidden" name='title' value="Vegetable" />
                                            <input type="hidden" name="item_id" value="{{ item.id }}" />
                                            <input name="quantity" type="number" min="1" max="{{item.stock}}">
                                            <button class="btn btn-outline-dark mt-auto" name="add_item" type="submit">Add to Cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}