{% extends 'base.html' %}

{% block content %}
<title>Apple</title>
    <!-- Header-->
    <header class="bg-success py-2">
        <div class="container px-4 px-lg-5 my-3">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Apple</h1>
                <p class="lead fw-normal text-white-50 mb-0">Explore our products</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for item in items %}
                    {% if item.name == 'Apple' %}
                    <div class="col mb-5" style="translate: -26.5rem;">
                            <div class="card h-100">
                                <!-- item image-->
                                
                                <a class="pic" href="/{{item.name}}"><img src="{{ baseUrl }}assets/images/{{item.id}}.jpg"></img></a>
                                <!-- item details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- item name-->
                                        <h5 class="fw-bolder">{{item.name}}</h5>
                                        <!-- item price-->
                                            <p class="">£{{ "%.2f" | format(item.price) }}</p>
                                        <!-- item Stock-->
                                        <div>
                                            <b class="fw-bolder">Available items</b>
                                            <p class="">{{item.stock}}</p>
                                        </div>
                                        <div>
                                            <p>Quantity</p>
                                            <p><input id="quantity_input_id" name="quantity_input" type="number" min="0" max={{item.amount}}/></p>
                                            <p><input class="btn btn-outline-dark mt-auto" name="add_item" type="submit" value="Add To Basket"></p>
                                        </div>
                                    </div>
                                </div/div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="disc">
                    <p>Delight in the wholesome goodness of organic apples, nature's gift that embodies both health and sustainability. These meticulously nurtured fruits are a testament to the harmony between human cultivation and the environment. Grown without the use of synthetic pesticides or genetically modified organisms, organic apples flourish in orchards that prioritize the vitality of the land.
    
                        Each organic apple boasts a vibrant appearance, a testament to the care and dedication invested in its growth. With hues ranging from deep reds to cheerful greens, these apples are a visual feast, inviting you to experience their exceptional flavors. When you take your first bite, you'll discover a crisp and juicy texture that tantalizes the taste buds and provides a satisfying crunch.
                        
                        What truly sets organic apples apart is their commitment to both your health and the planet's well-being. By avoiding harmful chemicals and adopting sustainable farming practices, organic orchards contribute to the preservation of soil fertility and biodiversity. With every bite, you're not only savoring a delicious treat but also supporting a system that nurtures the Earth.
                        
                        Whether enjoyed on their own, sliced into salads, or transformed into delectable desserts, organic apples offer a guilt-free indulgence. Their purity and taste remind us of the natural harmony that can exist between agriculture and the environment. So, relish the crisp sweetness of organic apples while knowing that each bite embodies a commitment to a healthier, greener world.
                        
                        
                        
                        
                        
                        </p>    
            </div>    
        </div>
    </section>
{% endblock %}