{% extends 'base.html' %}

{% block content %}
<title name='title' value="Garlic">Garlic</title>
    <!-- Header-->
    <header class="bg-success py-2">
        <div class="container px-4 px-lg-5 my-3">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Garlic</h1>
                <p class="lead fw-normal text-white-50 mb-0">Explore our products</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for item in items %}
                {% if item.name == 'Garlic' %}
                <div class="col mb-5" style="translate: -26.5rem;">
                        <div class="card h-100">
                            <!-- item image-->
                            
                            <a class="pic" href="/{{item.name}}"><img src="{{ baseUrl }}assets/images/{{item.id}}.jpg"></img></a>
                            <!-- item details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- item name-->
                                    <h5 class="fw-bolder">{{item.name}}</h5>
                                    <!-- item price-->
                                        <p class="">£{{ "%.2f" | format(item.price) }}</p>
                                    <!-- item Stock-->
                                    <div>
                                        <b class="fw-bolder">Available items</b>
                                        <p class="">{{item.stock}}</p>
                                    </div>
                                    <div>
                                        <p>Quantity</p>
                                        <form action="{{ url_for('add_to_cart') }}" method="POST">
                                            <input type="hidden" name="item_id" value="{{ item.id }}" />
                                            <input name="quantity" type="number" min="1" max="{{item.stock}}">
                                            <button class="btn btn-outline-dark mt-auto" name="add_item" type="submit">Add to Cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div/div>
                        </div>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="disc">
                <p>Step into the world of organic garlic – nature's pungent and potent gem that marries flavor and well-being in a single, aromatic package. These versatile bulbs are cultivated with dedication, embodying the principles of organic farming that prioritize health and environmental harmony.

                    Organic garlic bulbs boast an earthy exterior that harbors intense flavor within each clove. Cultivated sustainably, they are free from synthetic pesticides and harmful additives, ensuring that every use is a culinary and nutritional triumph.
                    
                    Peel away the layers to uncover the essence of organic garlic – a culinary cornerstone that transforms dishes. Its distinctive aroma and robust taste elevate cuisines across the globe, whether sautéed, roasted, or raw, lending depth and character to your creations.
                    
                    What distinguishes organic garlic is its commitment to the Earth's well-being. Embracing sustainable practices, its growth supports soil health, conserves water, and promotes biodiversity. Every savory inclusion in your recipes is a testament to these principles.
                    
                    Whether as a seasoning, a remedy, or a culinary essential, organic garlic epitomizes the harmonious relationship between agriculture and our environment. Its unassuming appearance belies its significance, reminding us that even the smallest ingredient can hold immense impact. By choosing organic garlic, you're not only enhancing your dishes but also aligning with a path that nourishes both your body and the planet.
                    </p>    
        </div>    
        </div>
    </section>
{% endblock %}
