{% extends 'base.html' %}

{% block content %}
<title>Tomato</title>
    <!-- Header-->
    <header class="bg-success py-2">
        <div class="container px-4 px-lg-5 my-3">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Tomato</h1>
                <p class="lead fw-normal text-white-50 mb-0">Explore our products</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for item in items %}
                {% if item.name == 'Tomato' %}
                <div class="col mb-5" style="translate: -26.5rem;">
                        <div class="card h-100">
                            <!-- item image-->
                            
                            <a class="pic" href="/{{item.name}}"><img src="{{ baseUrl }}assets/images/{{item.id}}.jpg"></img></a>
                            <!-- item details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- item name-->
                                    <h5 class="fw-bolder">{{item.name}}</h5>
                                    <!-- item price-->
                                        <p class="">£{{ "%.2f" | format(item.price) }}</p>
                                    <!-- item Stock-->
                                    <div>
                                        <b class="fw-bolder">Available items</b>
                                        <p class="">{{item.stock}}</p>
                                    </div>
                                    <div>
                                        <p>Quantity</p>
                                        <p><input id="quantity_input_id" name="quantity_input" type="number" min="0" max={{item.amount}}/></p>
                                        <p><input class="btn btn-outline-dark mt-auto" name="add_item" type="submit" value="Add To Basket"></p>
                                    </div>
                                </div>
                            </div/div>
                        </div>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="disc">
                <p>Step into the world of organic tomatoes – nature's vibrant and succulent treasures that embody both taste and well-being. These versatile fruits are cultivated with care, embracing the principles of organic farming that prioritize health and environmental harmony.

                    Organic tomatoes showcase a colorful and inviting exterior, hinting at the lusciousness within. Grown sustainably, they shun synthetic pesticides and harmful chemicals, ensuring that every bite is a burst of pure, untainted flavor.
                    
                    Slice into these plump gems to reveal their juicy, nutrient-rich flesh. From garden-fresh salads to robust sauces, the versatility of organic tomatoes knows no bounds. Their rich taste adds depth to culinary creations while infusing dishes with natural goodness.
                    
                    What sets organic tomatoes apart is their commitment to the Earth's vitality. Embracing sustainable practices, their cultivation supports soil health, conserves water, and fosters biodiversity. Each bite becomes a testament to these values.
                    
                    Whether enjoyed fresh off the vine, sun-dried, or incorporated into a hearty meal, organic tomatoes epitomize the harmonious relationship between agriculture and our environment. Their unassuming elegance holds immense significance, reminding us that wholesome choices can be both simple and impactful. By choosing organic tomatoes, you're not only savoring a delectable ingredient but also aligning with a path that nourishes your body and supports a thriving planet.
                    </p>    
        </div>    
        </div>
    </section>
{% endblock %}
